.admin_design{
 margin-top: 10px
    
}

.fila_users{
    border: 2px solid rgba(240, 248, 255, 0.563);
    background-color: rgba(0, 0, 0, 0.534);
}

.botones_principales{
    margin-top: 150px;
}

.botones{

    background-color: #3e857c; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 10px;
    cursor: pointer;
    border-radius: 50px; 
    width: 85px;
    height: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     transition: box-shadow 0.3s, transform 0.3s;
}

.botones:hover{
    background-color: #52c0f3;

}